<style type="text/css">
/* Задаем стиль для заголовка */
h1 {
color: green; /* Цвет текста */
text-align: center; /* Выравнивание текста по центру */
                          font-family: Arial, sans-serif; /* Шрифт текста */
}

/* Задаем стиль для списка */
ul {
margin: 0; /* Отступ от краев */
padding: 0; /* Поля внутри списка */
}

/* Задаем стиль для элементов списка */
ul li {
list-style: none; /* Стиль списка без маркеров */
border-bottom: 1px solid gray; /* Граница снизу каждого элемента */
padding: 10px; /* Поля внутри каждого элемента */
}
</style>